<div class="ProductMeta">
    <script>
        setTimeout(()=>{ document.getElementById('yotpoTabEvent').addEventListener('click',()=>{document.getElementById('ReviewsCollapsible').click(); });},2000);
      </script>
      <!-- Yotpo Star Rating | product pages > Snippets > product-meta.liquid -->
      <div id="yotpoTabEvent" class="yotpo bottomLine mt-[16px]" data-product-id="{{ product.id }}" style="padding-top:5px"></div>
      <style>.yotpo .text-m {padding-left:5px; color:#ffffff!important}</style>
      <!-- End of Yotpo -->
  
    <h1 class="ProductMeta__Title Heading u-h2 mt-[8px] text-[14px] md:text-[16px] text-left">
      {%- if template.name == 'product' -%}
        {{- product.title -}}
      {%- else -%}
        <a href="{{ product.url }}" class="text-[14px] md:text-[16px]">{{ product.title }}</a>
      {%- endif -%}
    </h1>
    
  
    {%- if product.template_suffix != 'coming-soon' -%}
      <div class="ProductMeta__PriceList Heading text-left mt-[8px] md:mt-[12px] text-[12px] md:text-[14px]">
        {%- if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price -%}
          <span class="ProductMeta__Price Price Price--highlight Text--subdued u-h4">{{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}</span>
          <span class="ProductMeta__Price Price Price--compareAt Text--subdued u-h4">{{ product.selected_or_first_available_variant.compare_at_price | money_without_trailing_zeros }}</span>
        {%- else -%}
          <span class="ProductMeta__Price Price Text--subdued u-h4">{{ product.selected_or_first_available_variant.price | money_without_trailing_zeros }}</span>
        {%- endif -%}
      </div>
  
      <div class="ProductMeta__UnitPriceMeasurement" style="display: {%- if product.selected_or_first_available_variant.unit_price_measurement -%}block{% else %}none{% endif %}">
        <div class="UnitPriceMeasurement Heading u-h6 Text--subdued">
          <span class="UnitPriceMeasurement__Price">{{ product.selected_or_first_available_variant.unit_price | money_without_trailing_zeros }}</span>
          <span class="UnitPriceMeasurement__Separator">/ </span>
  
          {%- if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
            <span class="UnitPriceMeasurement__ReferenceValue">{{ product.selected_or_first_available_variant.unit_price_measurement.reference_value }}</span>
          {%- endif -%}
  
          <span class="UnitPriceMeasurement__ReferenceUnit">{{ product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}</span>
        </div>
      </div>
    {%- endif -%}
</div>