<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
  <head>

    {% if template contains "index" %}
    	{% render "index-css" %}
    {% elsif template contains "collection" %}
    	{% render "collection-css" %}
    {% elsif template contains "product" %}
    	{% render "product-css" %}
    {% else %}
    	{% render "critical-css" %}
    {% endif %}

    {% include 'kiwiSizing' %}
    {% render 'pagefly-head' %}
    <!-- Google Optimize -->
    <script type="lazyload2" data-src="https://www.googleoptimize.com/optimize.js?id=OPT-M98WQBV"></script>
    <!-- End Google Optimize --> 
    <!-- Google Tag Manager -->
    <script type="lazyload2">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T92PMSK');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="theme-color" content="{{ settings.accent_color }}">
    <script type="lazyload2" data-src="https://pop6serve.com/popsixle.php?t=4028015887980d9fccad518b54a72bbaf2abaa78ec960572e0cc69288c2e14d5"></script>
    <title>
      {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '96x' }}" type="image/png">
    {%- endif -%}

    {% render 'social-meta-tags' %}
    {% render 'css-variables' %}

    {%- if request.design_mode or template contains 'cart' or template contains 'checkout' -%}
	{{ content_for_header }}
    {%- else -%}
	{% capture content_for_header2 %}{{ content_for_header }}{% endcapture %}
	{{ content_for_header2 | replace: ' defer="defer" ', ' type="lazyload2" ' | replace: " src=", " data-src=" | replace: "window.addEventListener('load', asyncLoad, false);", "window.addEventListener('wnw_load', asyncLoad, false);" | replace: "DOMContentLoaded", "DOMContentLoaded2" }}
	<script>var trekkie=[];trekkie.integrations=!0;</script>
    {%- endif -%}
    {% include 'cookie-body' %}
    <link data-href="{{ 'bold-brain-widget.css' | asset_url }}" rel="stylesheet" />
    {%- render 'bold-common' -%}

    <!-- Fancybox CSS -->
    <link rel="stylesheet" data-href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"/>
    <link data-href="{{ 'app.css' | asset_url }}" rel="stylesheet" />

    <link rel="stylesheet" data-href="{{ 'theme.css' | asset_url }}">
    <link rel="stylesheet" data-href="{{ 'custom_styles.css' | asset_url }}">

    <script>
      // This allows to expose several variables to the global scope, to be used in scripts
      window.theme = {
        pageType: {{ request.page_type | json }},
        moneyFormat: {{ shop.money_format | json }},
        moneyWithCurrencyFormat: {{ shop.money_with_currency_format | json }},
        productImageSize: {{ settings.product_image_size | json }},
        searchMode: {{ settings.search_mode | json }},
        showPageTransition: {{ settings.show_page_transition | json }},
        showElementStaggering: {{ settings.show_element_staggering | json }},
        showImageZooming: {{ settings.show_image_zooming | json }}
      };

      window.routes = {
        rootUrl: {{ routes.root_url | json }},
        cartUrl: {{ routes.cart_url | json }},
        cartAddUrl: {{ routes.cart_add_url | json }},
        cartChangeUrl: {{ routes.cart_change_url | json }},
        searchUrl: {{ routes.search_url | json }},
        productRecommendationsUrl: {{ routes.product_recommendations_url | json }}
      };

      window.languages = {
        cartAddNote: {{ 'cart.general.add_note' | t | json }},
        cartEditNote: {{ 'cart.general.edit_note' | t | json }},
        productImageLoadingError: {{ 'product.slideshow.image_loading_error' | t | json }},
        productFormAddToCart: {% if product.template_suffix == 'pre-order' %}{{ 'product.form.pre_order' | t | json }}{% else %}{{ 'product.form.add_to_cart' | t | json }}{% endif %},
        productFormUnavailable: {{ 'product.form.unavailable' | t | json }},
        productFormSoldOut: {{ 'product.form.sold_out' | t | json }},
        shippingEstimatorOneResult: {{ 'cart.shipping_estimator.one_result_title' | t | json }},
        shippingEstimatorMoreResults: {{ 'cart.shipping_estimator.more_results_title' | t | json }},
        shippingEstimatorNoResults: {{ 'cart.shipping_estimator.no_results_title' | t | json }}
      };

      window.lazySizesConfig = {
        loadHidden: false,
        hFac: 0.5,
        expFactor: 2,
        ricTimeout: 150,
        lazyClass: 'Image--lazyLoad',
        loadingClass: 'Image--lazyLoading',
        loadedClass: 'Image--lazyLoaded'
      };

      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      document.documentElement.style.setProperty('--window-height', window.innerHeight + 'px');

      // We do a quick detection of some features (we could use Modernizr but for so little...)
      (function() {
        document.documentElement.className += ((window.CSS && window.CSS.supports('(position: sticky) or (position: -webkit-sticky)')) ? ' supports-sticky' : ' no-supports-sticky');
        document.documentElement.className += (window.matchMedia('(-moz-touch-enabled: 1), (hover: none)')).matches ? ' no-supports-hover' : ' supports-hover';
      }());
    </script>

    <script type="lazyload2" data-src="{{ 'lazysizes.min.js' | asset_url }}"></script>
    <script type="lazyload2" data-src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=LpBCTy"></script>
    {%- if template == 'customers/addresses' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
      <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer></script>
    {%- endif -%}

    <script type="lazyload2" data-src="https://cdn.polyfill.io/v3/polyfill.min.js?unknown=polyfill&features=fetch,Element.prototype.closest,Element.prototype.remove,Element.prototype.classList,Array.prototype.includes,Array.prototype.fill,Object.assign,CustomEvent,IntersectionObserver,IntersectionObserverEntry,URL" defer></script>
    <script src="{{ 'libs.min.js' | asset_url }}" defer></script>
    <script type="lazyload2" data-src="{{ 'theme.js' | asset_url }}"></script>

    <!-- Fancybox JS -->
    <script type="lazyload2" data-src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>

    <script type="lazyload2" data-src="{{ 'custom.js' | asset_url }}"></script>

    <script>
      (function () {
        window.onpageshow = function() {
          if (window.theme.showPageTransition) {
            var pageTransition = document.querySelector('.PageTransition');

            if (pageTransition) {
              pageTransition.style.visibility = 'visible';
              pageTransition.style.opacity = '0';
            }
          }

          // When the page is loaded from the cache, we have to reload the cart content
          document.documentElement.dispatchEvent(new CustomEvent('cart:refresh', {
            bubbles: true
          }));
        };
      })();
    </script>

    {% render 'microdata-schema' %}
  <link id="opinew-font-awesome" data-href="https://cdn.opinew.com/styles/opw-icons/style.css" rel="stylesheet">
    <style id='opinew_product_plugin_css'>{{shop.metafields.opinew['opinew_product_plugin_css']}}</style>

<div id='opinew_config_container' style='display:none;' data-opwconfig='{{shop.metafields.opinew['opinew_config']}}'></div>
<!-- Programmatic global invocation -->
<!-- Global site tag (gtag.js) - Google Marketing Platform -->
<script type="lazyload2">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-919599379');
  gtag('config', 'DC-10827924');
</script>
<!-- End of global snippet: Please do not remove -->

<!-- Hotjar Tracking Code for https://incrediwear.com/ -->
<script type="lazyload2">
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2721752,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>


<!-- Programmatic retargeting snippet -->
<script type="lazyload2">
  gtag('event', 'conversion', {
    'allow_custom_scripts': true,
    'u1': '{% if template contains 'collection' %}Category{% elsif template contains 'product' %}Product{% elsif template contains 'cart' %}Cart{% elsif template contains 'search' %}Search{% elsif template contains 'index' %}Home{% endif %}',
    'u10': '{{ customer.orders_count }}',
    'u2': '{{ collection.title }}',
    'u3': '{{ template.suffix }}',
    'u4': '{{ product.id }}',
    'u5': '{{ customerStatus }}',
    'u8': '{{ customer.total_spent }}',
    'send_to': 'DC-10827924/cmrtg/incre0+standard'
  });
</script>
<noscript>
<img src="https://ad.doubleclick.net/ddm/activity/src=10827924;type=cmrtg;cat=incre0;u1={% if template contains 'collection' %}Category{% elsif template contains 'product' %}Product{% elsif template contains 'cart' %}Cart{% elsif template contains 'search' %}Search{% elsif template contains 'index' %}Home{% endif %};u2={{ collection.title }};u3={{ template.suffix }};u4={{ product.id }};u5={{ customerStatus }};u8={{ customer.total_spent }};u10={{ customer.orders_count }};dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;gdpr=${GDPR};gdpr_consent=${GDPR_CONSENT_755};ord=1?" width="1" height="1" alt=""/>
</noscript>
<!-- End of Programmatic retargeting snippet: Please do not remove -->
<!-- Snap Pixel Code -->
<script type='lazyload2'>
(function(e,t,n){if(e.snaptr)return;var a=e.snaptr=function()
{a.handleRequest?a.handleRequest.apply(a,arguments):a.queue.push(arguments)};
a.queue=[];var s='script';r=t.createElement(s);r.async=!0;
r.src=n;var u=t.getElementsByTagName(s)[0];
u.parentNode.insertBefore(r,u);})(window,document,
'https://sc-static.net/scevent.min.js');
snaptr('init', '9f6496c8-dd8e-455f-8cdc-4df03b117aef', {
  'user_email': '{{ customer.email }}'
});
snaptr('track', 'PAGE_VIEW');
</script>
<!-- End Snap Pixel Code -->
{% include 'pagefly-header' %}
{% render 'shogun-head' %}
<script type="application/ld+json">
{
"@context" : "http://schema.org",
"@type" : "Localbusiness",
"legalName" : "Incrediwear Holdings Inc.",
"description" : "Incrediwear Holdings Inc. has played a huge role in managing my patients with acute and chronic pain and swelling.",
"image" : "https://incrediwear.com/",
"name": "Incrediwear Holdings Inc.",
"email" : "info@incrediwear.com",
"telephone" : "+1 5303455808",
"Pricerange": "$-$",
"address" : {
"@type" : "PostalAddress",
"streetAddress" : "3120 Thorntree Drive Chico, CA",
"addressLocality" : "California, United States",
"addressCountry" : "USA",
"postalCode" : "95973"
},
  "brand":{
  "@type":"Brand",
  "name":"Incrediwear Holdings Inc.",
  "logo": "https://cdn.shopify.com/s/files/1/1165/9124/files/IN_LOGO_RGB_255x.png?v=1614085413"
 },
     "contactPoint" : [{
    "@type" : "ContactPoint",
    "telephone" : "+1 5303455808    ",
    "contactType" : "customer service"
  }],

"url" : "https://incrediwear.com/",
"sameAs" : [
 	  "https://twitter.com/Incrediwear",
      "https://facebook.com/incrediwear/",
      "https://www.pinterest.com/INCREDIWEAR2/",
      "https://www.instagram.com/incrediwear/",
      "https://www.youtube.com/channel/UCsCBqNm6O9ztzeZW5N_bJLw?view_as=subscriber"
]
}
</script>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "LocalBusiness",
"@id": "g.co/kg/g/11rsc37tdq",
  "image":"https://cdn.shopify.com/s/files/1/1165/9124/files/IN_LOGO_RGB_255x.png?v=1614085413",
  "address": {
"@type": "PostalAddress",
            "addressLocality": "3120 Thorntree Drive Chico, CA",
            "addressRegion": "California, United States"
},
"mainEntityOfPage": "https://www.google.com/maps?cid=5240152959593406244",
  "description": "Incrediwear Holdings Inc. offers knee sleeves, ankle braces, elbow sleeves, and more relieve pain, prevent injury, and quicken recovery.",
  "name": "Pain Relief, Recover Faster, Prevent Injury | Incrediwear Holdings Inc.",
  "telephone": "+1 5303455808",
  "email":"info@incrediwear.com",
  "priceRange": "$",
  "hasMap": "https://goo.gl/maps/dpWCn1oTURPqstmj8",
"geo": {
"@type": "GeoCoordinates",
"latitude": "39.784600",
"longitude": "-121.840950"
},
"areaServed": {
        "@type": "State",
        "name": "California",
        "url": "https://en.wikipedia.org/wiki/California"
    },
    "sameAs" : [
    "https://www.facebook.com/incrediwear",
    "https://twitter.com/incrediwear",
    "https://www.instagram.com/incrediwear/",
    "https://www.pinterest.com/INCREDIWEAR2/",
    "https://www.youtube.com/channel/UCsCBqNm6O9ztzeZW5N_bJLw",
    "https://www.linkedin.com/company/10357007/"
],
"currenciesAccepted": "AUS",
"paymentAccepted": [
"Cash",
"Check",
"Invoice",
"Visa",
"MasterCard",
"American Express",
"Discover",
"Insurance"
]
}
</script>

<script type="lazyload2">(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"137002193"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>
{% include 'bss-store-locator-popup' %}
{% include 'bss-store-locator-header' %}
<script>var ignore_csapp_cart_reload = true;</script>
{% include 'cscode_discount' %}
{% render "geo" %}{% include 'hulk_po_vd.liquid' %}
<!-- Start of LittledataLayer -->
{% include 'LittledataLayer' %}
<!-- End of LittledataLayer -->
<!-- Reddit Pixel -->
<script type="lazyload2">
!function(w,d){if(!w.rdt){var p=w.rdt=function(){p.sendEvent?p.sendEvent.apply(p,arguments):p.callQueue.push(arguments)};p.callQueue=[];var t=d.createElement("script");t.src="https://www.redditstatic.com/ads/pixel.js",t.async=!0;var s=d.getElementsByTagName("script")[0];s.parentNode.insertBefore(t,s)}}(window,document);rdt('init','t2_kh2kytzq', {"optOut":false,"useDecimalCurrencyValues":true,"aaid":"","email":"","externalId":"","idfa":""});rdt('track', 'PageVisit');
</script>
<!-- DO NOT MODIFY UNLESS TO REPLACE A USER IDENTIFIER -->
<!-- End Reddit Pixel -->    
</head>
  {%- capture classes -%}features--heading-{{ settings.heading_size }}{%- endcapture -%}
  {%- if settings.uppercase_heading -%}
    {%- assign classes = classes | append: ' features--heading-uppercase' -%}
  {%- endif -%}
  {%- if settings.product_show_price_on_hover -%}
    {%- assign classes = classes | append: ' features--show-price-on-hover' -%}
  {%- endif -%}
  {%- if settings.show_page_transition -%}
    {%- assign classes = classes | append: ' features--show-page-transition' -%}
  {%- endif -%}
  {%- if settings.show_button_transition -%}
    {%- assign classes = classes | append: ' features--show-button-transition' -%}
  {%- endif -%}
  {%- if settings.show_image_zooming -%}
    {%- assign classes = classes | append: ' features--show-image-zooming' -%}
  {%- endif -%}
  {%- if settings.show_element_staggering -%}
    {%- assign classes = classes | append: ' features--show-element-staggering' -%}
  {%- endif -%}
  <body class="prestige--v4 {{ classes }} {% if template.directory %}template-{{ template.directory | handle }}{% endif %} template-{{ template.name | handle }}">
    <a class="PageSkipLink u-visually-hidden" href="#main">{{ 'header.navigation.skip_to_content' | t }}</a>
    <span class="LoadingBar"></span>
    <div class="PageOverlay"></div>

    {%- if settings.show_page_transition -%}
      <div class="PageTransition"></div>
    {%- endif -%}

    {% section 'popup' %}
    {% section 'sidebar-menu' %}

    {%- if template != 'cart' -%}
      {% render 'cart-drawer' %}
    {%- endif -%}

    <div class="PageContainer">
      {% section 'announcement' %}
      {% section 'header' %}

      <main id="main" class="overflow-y-hidden" role="main">
        {{ content_for_layout }}
      </main>

      {% section 'footer' %}
    </div>



    <script type="lazyload2" data-src="https://cdn.attn.tv/incrediwear/dtag.js"></script>

    <script type="lazyload2" data-src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script> <script type="lazyload2"> var klaviyo = klaviyo || [];
    klaviyo.init({
      account: "LpBCTy",
      platform: "shopify" });
    klaviyo.enable("backinstock",{
    trigger: {
      product_page_text: "Notify Me When Available",
      product_page_class: "btn",
      product_page_text_align: "center",
      product_page_margin: "0px",
      replace_anchor: false },
    modal: {
     headline: "{product_name}",
     body_content: "Register to receive a notification when this item comes back in stock.",
     email_field_label: "Email",
     button_label: "Notify me when available",
     subscription_success_label: "You're in! We'll let you know when it's back.",
     footer_content: '',
     additional_styles: "@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue');",
     drop_background_color: "#000",
     background_color: "#fff",
     text_color: "#222",
     button_text_color: "#fff",
     button_background_color: "#439fdb",
     close_button_color: "#ccc",
     error_background_color: "#fcd6d7",
     error_text_color: "#C72E2F",
     success_background_color: "#d3efcd",
     success_text_color: "#1B9500" } }); </script>

    <script type="lazyload2">
usi_installed = 0; USI_installCode = function() { if (usi_installed == 0) { usi_installed = 1; var USI_headID = document.getElementsByTagName("head")[0]; var USI_installID = document.createElement('script'); USI_installID.type = 'text/javascript'; USI_installID.src = 'https://www.upsellit.com/active/incrediwear.jsp'; USI_headID.appendChild(USI_installID); } }; if (typeof(document.readyState) != "undefined" && document.readyState === "complete") { USI_installCode(); } else if (window.addEventListener){ window.addEventListener('load', USI_installCode, true); } else if (window.attachEvent) { window.attachEvent('onload', USI_installCode); } else { USI_installCode(); } setTimeout("USI_installCode()", 10000);
</script>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T92PMSK"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->



<script type="lazyload2">
    var AddShoppersWidgetOptions = { 'loadCss': false };
    (!function(){
        var t=document.createElement("script");
        t.type="text/javascript",
        t.async=!0,
        t.id="AddShoppers",
        t.src="https://shop.pe/widget/widget_async.js#609930d273efc34535f0b51b",
        document.getElementsByTagName("head")[0].appendChild(t)
    }());
</script>

    {% if settings.show_outside_usa_popup != blank %}
      {% assign show_outside_usa_popup = true %}
    {% else %}
      {% assign show_outside_usa_popup = false %}
    {% endif %}

    <div id="popups-container">
      {% comment %}{% render 'outside-the-usa-popup', show_outside_usa_popup: show_outside_usa_popup %}{% endcomment %}

      {% comment %}{% if settings.ipregistry_api_key != blank %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script defer>
          $(function () {
            let popups = document.querySelectorAll('[data-popup]');

            if (popups.length > 0) {
              let visitorCountry = getCookie('visitorCountry');
              let popupViewed = getCookie('popupViewed');
              // console.log('visitorCountry: ', visitorCountry);
              // console.log('popupViewed: ', popupViewed);

              // Get the date 3 months from now
              let now = new Date();
              now.setMonth( now.getMonth() + 3 );

              // does the visitorCountry Cookie exist?
              if (visitorCountry !== null) {

                // check to see if visitor Country is not in the United States
                // also check if the popup has been viewed
                if (visitorCountry === 'United States' && popupViewed === null) {
                  // set missing cookie
                  document.cookie = `popupViewed=;expires=${now.toUTCString()};`;
                } else if (visitorCountry !== 'United States' && popupViewed === null) {
                  // show popup
                  const fancybox = Fancybox.show([{
                    src: document.getElementById('outside-the-usa'),
                    type: "clone"
                  }]);

                  // set missing cookie
                  document.cookie = `popupViewed=;expires=${now.toUTCString()};`;
                } else {
                  return false;
                }
              } else {
                console.log('visitorCountry does not exist... creating cookie');

                // if cookie doesn't exist, create the cookie using the ip library
                $.getJSON('https://api.ipregistry.co/?key={{ settings.ipregistry_api_key }}', function (data) {
                  let country = data['location']['country']['name'];

                  if (country !== 'United States') {
                    const fancybox = Fancybox.show([{
                      src: document.getElementById('outside-the-usa'),
                      type: "clone"
                    }]);

                    // Set the cookies with a 3 month expiration date
                    document.cookie = `visitorCountry=${country};expires=${now.toUTCString()};`;
                    // This cookie is used to detect if the popup has been viewed once
                    document.cookie = `popupViewed=;expires=${now.toUTCString()};`;
                  } else {
                    document.cookie = `visitorCountry=United States;expires=${now.toUTCString()};`;
                    document.cookie = `popupViewed=;expires=${now.toUTCString()};`;
                    return false;
                  }
                });
              }
            }
          });

          function getCookie(name) {
            let match = document.cookie.match(RegExp('(?:^|;\\s*)' + name + '=([^;]*)'));
            return match ? match[1] : null;
          }
        </script>
      {% endif %}{% endcomment %}
    </div>

<script type="lazyload2">(function(){var s = document.createElement("script");s.setAttribute("data-account","e5tRXYCoec");s.setAttribute("src","https://cdn.userway.org/widget.js");document.body.appendChild(s);})();</script>


 <!-- Mutesix Google Ads Add to cart tracking code -->
{% if template contains 'product' %}
<script type="text/javascript">
document.addEventListener('click', function (event) {
  if (!event.target.matches('.ProductForm__AddToCart, .ProductForm__AddToCart *, .shopify-payment-button__button, .shopify-payment-button__button *')) return;
 gtag('event', 'conversion', {'send_to': 'AW-919599379/Lr_gCIPxnfcBEJPyv7YD', 'value': {{ product.selected_or_first_available_variant.price | money_without_currency }}, 'currency': 'USD'});
}, false);
</script>
{% endif %}


{% render 'special-offers' %}

{% render 'smart-cart-template' %}

{% render 'spurit_po2_theme_snippet' %}
<script type="lazyload2" data-src="https://code.iconify.design/2/2.2.0/iconify.min.js"></script>
<!--Gorgias Chat Widget Start--><script type="lazyload2" id="gorgias-chat-widget-install-v2" data-src="https://config.gorgias.chat/gorgias-chat-bundle-loader.js?applicationId=11211"></script>
<script type="lazyload2" id="gorgias-chat-shopify-install">!function(_){_.SHOPIFY_PERMANENT_DOMAIN="{{shop.permanent_domain}}",_.SHOPIFY_CUSTOMER_ID="{{customer.id}}",_.SHOPIFY_CUSTOMER_EMAIL="{{customer.email}}"}(window||{});</script><!--Gorgias Chat Widget End-->

<!-- microsoft ads tracking script -->
<script type="lazyload2">(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"148016028", tm:"shpfy_ui"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>
<!-- End microsoft ads tracking script -->
    

    <!-- Yotpo JavaScript > Layout > theme.liquid -->
    <script type="lazyload2">(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/OAZ7PHjHuB4AhkIPenqwjQsOdnL4PDgzf6XgMo1R/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();</script>
    <!-- End of Yotpo JavaScript -->
    
    
      <script type="lazyload2" data-src="https://cdn-widgetsrepository.yotpo.com/v1/loader/cpikxINfEwboEH0rx9up1A"></script>
    
  {% render 'rebuy-smartcart-extensions' %}
 {% if page.title == 'FAQ' %}
     <script>
        
       $( document ).ready(function() {
        $(".shopPayClass").attr("id","shopPaySection");
     });
    </script>
    <style>
      #shopPaySection{
/*         margin-bottom:40px; */
      }
      #shopPaySection h3{
        font-size: 24px;
        font-weight: bold;
      }
      #s-4c004e55-4464-48e3-afd1-3759b1aacddc.shg-btn{
        float:right;
      }
      .shopPayButton a{
/*         float:right; */
        display:inline-block;
      }
       .shop-pay-logo {
        height: 14px;
        width: 59px;
        vertical-align: middle;
      }

      .shop-pay-logo-large {
        height: 21px;
        width: 88px;
        vertical-align: middle;
      }
      #s-2365ee0d-9a06-4169-92ca-0e36873a3377{
        margin-bottom: 60px;
      }
      @media screen and (max-width: 768px) {
        #s-2365ee0d-9a06-4169-92ca-0e36873a3377 h3{
          font-size:24px; 
        }
      }
    </style>
 {% endif %}
<script type="lazyload2">
		setTimeout(function() {
            var lazyVideos = document.querySelectorAll("video");
            lazyVideos.forEach(function(lazyVid) {
              lazyVid.load();
              lazyVid.muted= true;
              lazyVid.play();
            });
		});
</script>
<script>
	var site_nav_link_burger = true;
	jQuery(document).ready(function() {
		jQuery(".Header__Icon").click(function() {
            console.log(1);
			if(site_nav_link_burger) {
				event.preventDefault();
				site_nav_link_burger = false;
			}
		});
	})
</script>    
{{ 'wnw-optimization.js' | asset_url | script_tag }}
</body>
</html>

<script type="text/javascript">
var _learnq = _learnq || [];
  var classname = document.getElementsByClassName("ProductForm__AddToCart Button Button--primary Button--full spot-container");
var addToCart = function() {
_learnq.push(['track', 'Added to Cart', item]);
}; for (var i = 0; i < classname.length; i++) {
classname[i].addEventListener('click', addToCart, false);
}
</script>