<div class="bg-white md:py-16">
    <div class="mx-auto py-12 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <h2 id="products-heading" class="sr-only">Products</h2>
  
      <div class="grid grid-cols-1 gap-y-10 sm:grid-cols-2 gap-x-6 lg:grid-cols-3 xl:gap-x-8">
        {% for block in section.blocks %}
        <a href="{{block.settings.collection.url}}" class="group">
          <div class="w-full overflow-hidden">
            {% if block.settings.image %}
            <img src="{{ block.settings.image | img_url: '700x700', scale: 2 }}" alt="{{ block.settings.image.alt }}" class="mx-auto w-[350px] h-[350px] object-center object-cover group-hover:opacity-75">
            {% elsif block.settings.collection.image %}
            <img src="{{ block.settings.collection.image | img_url: '700x700', scale: 2 }}" alt="{{ block.settings.collection.image.alt }}" class="mx-auto w-[350px] h-[350px] object-center object-cover group-hover:opacity-75">
            {% else %}
            <img src="https://tailwindui.com/img/ecommerce-images/category-page-01-image-card-01.jpg" alt="Person using a pen to cross a task off a productivity paper card." class="mx-auto w-[350px] h-[350px] object-center object-cover group-hover:opacity-75">
            {% endif %}
          </div>
          <div class="mt-4 mx-auto max-w-[350px] justify-center md:justify-start flex items-center text-2xl md:text-[32px] italic font-semibold text-gray-900">
            {% if block.settings.title %}<h3 class="flex items-center">{{block.settings.title}} {% render 'right-arrow-svg' %}</h3>{% elsif block.settings.collection.title %}<h3 class="flex items-center">{{block.settings.collection.title}}{% render 'right-arrow-svg' %}</h3>{% endif %}
          </div>
        </a>
    {% endfor %}
  
       
  
        <!-- More products... -->
      </div>
    </div>
  </div>


{% schema %}
{
"name": "Featured Category List",
"max_blocks": 18,
"settings": [

  {
    "type": "text",
    "id": "title",
    "label": "Title",
    "default": "Title"
  }
],
"blocks": [
  {
    "type": "category",
    "name": "Category",
    "settings": [
        {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
        },
        {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "350 x 350 .jpg recommended"
        },
        {
        "type": "text",
        "id": "title",
        "label": "Heading"
        }
    ]
  }
],
"presets": [
  {
    "category": "Category",
    "name": "Featured Category List",
    "settings": {},
    "blocks": [
      {
        "type": "category"
      },
      {
        "type": "category"
      },
      {
        "type": "category"
      }
    ]
  }
]
}
{% endschema %}